@import "app";

@font-face {
    font-family: 'Raleway DN';
    src: url(./../fonts/RalewayDN-Regular.otf) format('opentype');
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

* {
	font-size: 12px !important;
	@include media-breakpoint-up(sm) { font-size: 13px !important; };
	@include media-breakpoint-up(md) { font-size: 13px !important; };
	@include media-breakpoint-up(lg) { font-size: 13px !important; };
	@include media-breakpoint-up(xl) { font-size: 13px !important; };
	font-family: Raleway DN;

	// overflow: hidden;
	user-select: none;


}

#app {
	width: inherit;
	height: inherit;
}

h1 {
	font-size: 1rem;
	margin-bottom: 0;
	color: black;
	-webkit-font-smoothing:  antialiased; 
}

a {
	&:hover {

		text-decoration: none;
	}
}

header {
	z-index: 99;
	background-color: white;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	padding: 1rem;
	cursor: pointer;
	user-select: none;

	@media screen and (max-height: 400px) { display: none }
}

footer {
	z-index: 99;
	background-color: white;
	position: fixed;
	display: flex;
	width: 100%;
	justify-content: center;
	left: 0;
	bottom: 0;

	a {
		padding: 1rem !important;
		color: black;

		&:hover {
			color: black;
		}
	}

	@media screen and (max-height: 400px) { display: none }
}

#home {
	// height: calc(100% - 100px);
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;

	img {

		max-height: 60%;
		max-width: 70%;
		@include media-breakpoint-up(sm) { max-width: 60% };
		@include media-breakpoint-up(md) { max-width: 50% };
		@include media-breakpoint-up(lg) { max-width: 40% };
		@include media-breakpoint-up(xl) { max-width: 30% };

	}
}

#workshop {

	@include media-breakpoint-up(md) { height: 100% };

	.row {
		margin: 50px 0;
		padding: 1rem;
		text-align: justify;
	}

	div {
		div {

			&:first-of-type {
				@include media-breakpoint-up(md) { padding-right: 1rem };
			}

			p {
				margin: 0;
				a {
					color: inherit;
					text-decoration: underline;
				}
			}


		}
	}
}

#projects {

	padding-top: 41px;
	padding-bottom: 42px;

	@media screen and (max-height: 400px) {
		padding-top: 0;
		padding-bottom: 0;
	}

	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.project {
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 1rem;
		width: 100vw;

		.swiper-container {
			width: calc(100vw - 2rem);
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			.swiper-wrapper {
				align-items: center;

				.swiper-slide {
					display: flex;
					justify-content: center;

					img {
						align-self: center;
						max-height: 60vh;
						@include media-breakpoint-up(sm) { max-height: 75vh };

						max-width: calc(100vw - 2rem);
						@media screen and (max-height: 400px) { margin: 2rem 0; }
					}

					p {
						text-align: justify;

						// description width equals to horizontal image width
						width: calc((1800 / 1125) * 75vh);
						max-height: 60vh;
						@include media-breakpoint-up(sm) { max-height: 75vh };
						@media screen and (max-height: 400px) { margin: 2rem 0; }

						overflow: scroll;
						overflow-x: hidden;
						@include media-breakpoint-up(sm) {
							overflow: hidden;
						};
						
					}
				}
			}
		}



		.projectHeader {
			margin-bottom: 2rem;
			display: flex;
			align-items: flex-end;
			width: 100%;
			max-width: calc((1800 / 1125) * 60vh);
			@include media-breakpoint-up(md) { max-width: calc((1800 / 1125) * 75vh) };

			h2 {
				flex: 1;
			}

			h2, .counter {
				font-size: 1rem;
				margin-bottom: 0;
				line-height: 2;
				
			}
		}




		.desktopNavigator {

			@include media-breakpoint-up(xs) { display: none; };
			@include media-breakpoint-up(lg) { display: block; };

			width: 100%;
			height: calc(100% - 100px);
			position: absolute;
			z-index: 999;

			* {
				height: 33%;
			}

			.left, .right {
				width: 50%;
				display: inline-block;
			}

			.top {
				cursor: url('./../cursors/LBWA-kursor-gora.cur'), n-resize;
			}

			.left {
				cursor: url('./../cursors/LBWA-kursor-lewo.cur'), w-resize;

			}

			.right {
				cursor: url('./../cursors/LBWA-kursor-prawo.cur'), e-resize;
			}

			.bottom {
				cursor: url('./../cursors/LBWA-kursor-dol.cur'), s-resize;
			}
		}
	}	
}