@import "app";

@font-face {
    font-family: 'Raleway DN Medium';
    src: url(./../fonts/RalewayDN-Medium.otf) format('opentype');
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

* {
	font-size: 12px !important;
	@include media-breakpoint-up(sm) { font-size: 14px !important; };
	@include media-breakpoint-up(md) { font-size: 14px !important; };
	@include media-breakpoint-up(lg) { font-size: 14px !important; };
	@include media-breakpoint-up(xl) { font-size: 14px !important; };
	font-family: Raleway DN Medium;

	overflow: hidden;

}

#app {
	width: inherit;
	height: inherit;
}

h1 {
	font-size: 1rem;
	margin-bottom: 0;
	color: black;
}

header {
	z-index: 99;
	background-color: white;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	padding: 1rem;
	cursor: pointer;
	user-select: none;

	@media screen and (max-height: 400px) { display: none }
}

footer {
	z-index: 99;
	background-color: white;
	position: fixed;
	display: flex;
	width: 100%;
	justify-content: center;
	left: 0;
	bottom: 0;

	a {
		padding: 1rem !important;
		color: black;

		&:hover {
			color: black;
		}
	}

	@media screen and (max-height: 400px) { display: none }
}

#home {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;

	img {

		max-height: calc(100% - 150px);

		max-width: 70%;
		@include media-breakpoint-up(sm) { max-width: 60% };
		@include media-breakpoint-up(md) { max-width: 50% };
		@include media-breakpoint-up(lg) { max-width: 40% };
		@include media-breakpoint-up(xl) { max-width: 30% };

	}
}

#workshop {
	div {
		div {
			p {
				margin: 0;
			}
		}
	}
}

#projects {

	padding-top: 52px;
	padding-bottom: 42px;

	@media screen and (max-height: 500px) {
		padding-top: 0;
		padding-bottom: 0;
	}

	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.project {
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		width: 100%;
		max-width: 100%;
		@include media-breakpoint-up(sm) { max-width: 90% };
		@include media-breakpoint-up(md) { max-width: 80% };
		@include media-breakpoint-up(lg) { max-width: 70% };
		@include media-breakpoint-up(xl) { max-width: 60% };

		.projectHeader {
			align-self: start;
			display: flex;
			align-items: flex-end;
			width: 100%;
			height: 40px;
			padding: 1rem;


			h2 {
				flex: 1;
			}

			h2, .counter {
				font-size: 1rem;
				margin-bottom: 0;
				line-height: 1;
				
			}
		}

		.img {

			max-width: 100%;

			height: calc(100% - 40px);

			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;



				img {


					max-height: calc(100vh - 125px);

					@media screen and (max-height: 500px) {
						max-height: calc(100vh - 100px);
					}

					max-width: 100%;
				}
				

			.projectDescription {
				text-align: justify;

				@include media-breakpoint-up(xs) { padding: 0 1rem; };
				@include media-breakpoint-up(sm) { padding: 0; };
			}
		}

		.desktopNavigator {

			@include media-breakpoint-up(xs) { display: none; };
			@include media-breakpoint-up(sm) { display: block; };

			width: 100%;
			height: calc(100% - 100px);
			position: absolute;
			z-index: 999;

			* {
				height: 33%;
			}

			.left, .right {
				width: 50%;
				display: inline-block;
			}

			.top {
				cursor: n-resize;
			}

			.left {
				cursor: w-resize;
			}

			.right {
				cursor: e-resize;
			}

			.bottom {
				cursor: s-resize;
			}
		}
	}
















	// #project {

	// 	height: 100%;
		
	// 	#wrapper {

	// 		max-width: 100%;
	// 		@include media-breakpoint-up(sm) { max-width: 90% };
	// 		@include media-breakpoint-up(md) { max-width: 80% };
	// 		@include media-breakpoint-up(lg) { max-width: 70% };
	// 		@include media-breakpoint-up(xl) { max-width: 60% };
	// 		height: 100%;

	// 		#projectHeader {

	// 			@include media-breakpoint-up(xs) { padding: 0 1rem; };
	// 			@include media-breakpoint-up(sm) { padding: 0; };

	// 			h2 {
	// 				font-size: 1rem;
	// 				flex: 1;
	// 			}

	// 			.counter, .descriptionButton {
	// 				line-height: 1.2;
	// 			}

	// 			.counter {
	// 				padding-left: 5rem;
	// 			}
	// 		}
				
	// 	}

	// }
	
}


.component-fade-right-enter-active,
.component-fade-right-leave-active,
.component-fade-left-enter-active,
.component-fade-left-leave-active,
.component-fade-up-enter-active,
.component-fade-up-leave-active,
.component-fade-down-enter-active,
.component-fade-down-leave-active {
  transition: all 1s;
  overflow-x: hidden;
  overflow-y: hidden;
}

.component-fade-right-enter,
.component-fade-right-leave-active,
.component-fade-left-enter,
.component-fade-left-leave-active,
.component-fade-up-enter,
.component-fade-up-leave-active,
.component-fade-down-enter,
.component-fade-down-leave-active {
  opacity: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

.component-fade-right-enter {
  transform: translateX(100%);
}
.component-fade-right-leave-active {
  transform: translateX(-100%);
}

.component-fade-left-enter {
  transform: translateX(-100%);
}
.component-fade-left-leave-active {
  transform: translateX(100%);
}

.component-fade-up-enter {
  transform: translateY(100%);
}
.component-fade-up-leave-active {
  transform: translateY(-100%);
}

.component-fade-down-enter {
  transform: translateY(-100%);
}
.component-fade-down-leave-active {
  transform: translateY(100%);
}