@import "app";

@font-face {
    font-family: 'Raleway DN';
    src: url(./../fonts/RalewayDN-Regular.otf) format('opentype');
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

* {
	font-size: 12px !important;
	@include media-breakpoint-up(sm) { font-size: 13px !important; };
	@include media-breakpoint-up(md) { font-size: 13px !important; };
	@include media-breakpoint-up(lg) { font-size: 13px !important; };
	@include media-breakpoint-up(xl) { font-size: 13px !important; };
	font-family: Raleway DN;

	// overflow: hidden;
	user-select: none;


}

#app {
	width: inherit;
	height: inherit;
}

h1 {
	font-size: 1rem;
	margin-bottom: 0;
	color: black;
	-webkit-font-smoothing:  antialiased; 
}

a {
	&:hover {

		text-decoration: none;
	}
}

header {
	z-index: 99;
	background-color: white;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	padding: 1rem;
	cursor: pointer;
	user-select: none;

	@media screen and (max-height: 400px) { display: none }
}

footer {
	z-index: 99;
	background-color: white;
	position: fixed;
	display: flex;
	width: 100%;
	justify-content: center;
	left: 0;
	bottom: 0;

	a {
		padding: 1rem !important;
		color: black;

		&:hover {
			color: black;
		}
	}

	@media screen and (max-height: 400px) { display: none }
}

#home {
	// height: calc(100% - 100px);
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;

	img {

		max-height: 60%;
		max-width: 70%;
		@include media-breakpoint-up(sm) { max-width: 60% };
		@include media-breakpoint-up(md) { max-width: 50% };
		@include media-breakpoint-up(lg) { max-width: 40% };
		@include media-breakpoint-up(xl) { max-width: 30% };

	}
}

#workshop {

	@include media-breakpoint-up(md) { height: 100% };

	.row {
		margin: 50px 0;
		padding: 1rem;
		text-align: justify;
	}

	div {
		div {

			&:first-of-type {
				@include media-breakpoint-up(md) { padding-right: 1rem };
			}

			p {
				margin: 0;
				a {
					color: inherit;
					text-decoration: none;
				}
			}


		}
	}
}

#projects {

	padding-top: 41px;
	padding-bottom: 42px;

	@media screen and (max-height: 400px) {
		padding-top: 0;
		padding-bottom: 0;
	}

	width: 100%;
	height: 100%;
	// height: calc(100% - 90px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.project {
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

			padding: 1rem;
		width: 100%;
		// max-width: 100%;
		// @include media-breakpoint-up(sm) { max-width: 90% };
		// @include media-breakpoint-up(md) { max-width: 80% };
		// @include media-breakpoint-up(lg) { max-width: 70% };
		// @include media-breakpoint-up(xl) { max-width: 60% };

		.projectHeader {
			// align-self: start;
			display: flex;
			align-items: flex-end;
			width: 100%;
			// height: 40px;
				// max-width: calc((1800 / 1125) * 75vh);
				// padding-bottom: 1rem;
				// max-width: calc((1800 / 1125) * calc((1125 / 1800) * 100vw));
				max-width: calc((1800 / 1125) * 60vh);
				@include media-breakpoint-up(md) { max-width: calc((1800 / 1125) * 75vh) };

			h2 {
				flex: 1;
			}

			h2, .counter {
				font-size: 1rem;
				margin-bottom: 0;
				// padding: 0.2rem 0;
				line-height: 2;
				
			}
		}

		.img {

			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			img {
				// all images are meant to be 1800 px width 1125 px height
				// we want them always with the same height
				// max-height: calc((1125 / 1800) * 100vw);
				// @include media-breakpoint-up(md) { max-height: 75vh };

				max-height: 60vh;
				@include media-breakpoint-up(sm) { max-height: 75vh };

				max-width: calc(100% - 2rem);
				// padding: 2rem 0;
				// padding: 1rem;

				@media screen and (max-height: 400px) { margin: 2rem 0; }
			}
				
			.projectDescription {
				text-align: justify;
				// padding: 0 1rem;

				// description width equals to horizontal image width
				// max-width: calc((1800 / 1125) * calc((1125 / 1800) * 100vw));
				// @include media-breakpoint-up(md) { max-width: calc((1800 / 1125) * 75vh) };
				width: calc((1800 / 1125) * 75vh);
				max-width: calc(100% - 2rem);
				max-height: 60vh;
				@include media-breakpoint-up(sm) { max-height: 75vh };
				@media screen and (max-height: 400px) { margin: 2rem 0; }

				// max-width: calc(100% - 2rem);
				overflow: scroll;
				overflow-x: hidden;
				@include media-breakpoint-up(sm) {
					overflow: hidden;
				};

			}
		}

		.desktopNavigator {

			@include media-breakpoint-up(xs) { display: none; };
			@include media-breakpoint-up(sm) { display: block; };

			// margin-top: 41px;

			width: 100%;
			height: calc(100% - 100px);
			position: absolute;
			z-index: 999;

			* {
				height: 33%;
			}

			.left, .right {
				width: 50%;
				display: inline-block;
			}

			.top {
				cursor: url('./../cursors/LBWA-kursor-gora.cur'), n-resize;
			}

			.left {
				cursor: url('./../cursors/LBWA-kursor-lewo.cur'), w-resize;

			}

			.right {
				cursor: url('./../cursors/LBWA-kursor-prawo.cur'), e-resize;
			}

			.bottom {
				cursor: url('./../cursors/LBWA-kursor-dol.cur'), s-resize;
			}
		}
	}
















	// #project {

	// 	height: 100%;
		
	// 	#wrapper {

	// 		max-width: 100%;
	// 		@include media-breakpoint-up(sm) { max-width: 90% };
	// 		@include media-breakpoint-up(md) { max-width: 80% };
	// 		@include media-breakpoint-up(lg) { max-width: 70% };
	// 		@include media-breakpoint-up(xl) { max-width: 60% };
	// 		height: 100%;

	// 		#projectHeader {

	// 			@include media-breakpoint-up(xs) { padding: 0 1rem; };
	// 			@include media-breakpoint-up(sm) { padding: 0; };

	// 			h2 {
	// 				font-size: 1rem;
	// 				flex: 1;
	// 			}

	// 			.counter, .descriptionButton {
	// 				line-height: 1.2;
	// 			}

	// 			.counter {
	// 				padding-left: 5rem;
	// 			}
	// 		}
				
	// 	}

	// }
	
}


.component-fade-right-enter-active,
.component-fade-right-leave-active,
.component-fade-left-enter-active,
.component-fade-left-leave-active {
  transition: all 0.5s;
  overflow-x: hidden;
  overflow-y: hidden;
}

.component-fade-up-enter-active,
.component-fade-up-leave-active,
.component-fade-down-enter-active,
.component-fade-down-leave-active {
	transition: all 0.3s;
	overflow-x: hidden;
	overflow-y: hidden;
}

.component-fade-right-enter,
.component-fade-right-leave-active,
.component-fade-left-enter,
.component-fade-left-leave-active,
.component-fade-up-enter,
.component-fade-up-leave-active,
.component-fade-down-enter,
.component-fade-down-leave-active {
  // opacity: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

.component-fade-right-enter {
  transform: translateX(100vw);
}
.component-fade-right-leave-active {
  transform: translateX(-100vw);
}

.component-fade-left-enter {
  transform: translateX(-100vw);
}
.component-fade-left-leave-active {
  transform: translateX(100vw);
}

.component-fade-up-enter {
  transform: translateY(100%);
}
.component-fade-up-leave-active {
  transform: translateY(-100%);
}

.component-fade-down-enter {
  transform: translateY(-100%);
}
.component-fade-down-leave-active {
  transform: translateY(100%);
}



// .no-mode-translate-demo-wrapper {
//   position: relative;
//   height: 18px;
// }
// .no-mode-translate-demo-wrapper button {
//   position: absolute;
// }
// .no-mode-translate-fade-enter-active, .no-mode-translate-fade-leave-active {
//   transition: all 1s;
// }
// .no-mode-translate-fade-enter, .no-mode-translate-fade-leave-active {
//   opacity: 0;
// }
// .no-mode-translate-fade-enter {
//   transform: translateX(31px);
// }
// .no-mode-translate-fade-leave-active {
//   transform: translateX(-31px);
// }
